.Navbar-Container {
    height: 60px;
    background-color: #191935;
}

.Wrapper {
    padding: 10px 20px;
    color: white;
    display: flex;
}

.Wrapper .Left{
    width: ;
}

.Wrapper .Center{
    
}

.Wrapper .Right{
    
}