:root {
  --artelak-blue: #12284c;
  --artelak-lightblue: #dce0e5;
  --artelak-ocre: #cc9e6a;
  --artelak-lightocre: #f2d9c7;
}

.nav__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: var(--artelak-lightblue);
}

.menu a {
  font-weight: 600;
  font-size: 1rem;
  color: var(--artelak-blue);
  transition: 0.3s;
  text-decoration: none;
  margin: 20px;
}

.menu a:hover {
  color: var(--artelak-ocre);
}

.active__menu {
  color: var(--artelak-ocre) !important;
}
