@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:100,200,300,400,500,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans',sans-serif;
}

:root {
  --artelak-blue: #12284c;
  --artelak-lightblue: #dce0e5;
  --artelak-ocre: #cc9e6a;
  --artelak-lightocre: #f2d9c7;
}

.order-now__content {
  padding-top: 70px;
}

.order-now__title {
  font-size: 2.5rem;
  line-height: 55px;
}

.order-now__title span {
  color: var(--artelak-ocre);
}

.order-now__content p {
  font-size: 1rem;
  line-height: 30px;
  color: var(--artelak-blue);
}

.order-now__img {
  margin-top: 20px;
}

.order-now__service p {
  color: var(--artelak-blue);
  font-weight: 600;
  font-size: 0.9rem;
}

.order-now__btns button {
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.order__btn {
  background: var(--artelak-blue);
  color: #fff;
  transition: 0.3s;
}

.order__btn:hover {
  background: var(--artelak-ocre);
}

